name: media_notification_service
description: A Flutter plugin for accessing Android media notifications
version: 0.0.2
homepage: https://github.com/6Rix6/media_notification_service

environment:
  sdk: ^3.10.7
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.media_notification_service
        pluginClass: MediaNotificationServicePlugin
      windows:
        pluginClass: MediaNotificationServicePluginCApi

license: MIT
